
NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/project.xcworkspace/xcshareddata/FlatWorldIIV1.0ClassVersion_dist2014.xccheckout

*.pbxproj

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/project.pbxproj

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/project.xcworkspace/contents.xcworkspacedata

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/project.pbxproj

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/project.xcworkspace/xcuserdata/lin.xcuserdatad/UserInterfaceState.xcuserstate

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/project.xcworkspace/xcuserdata/lin.xcuserdatad/UserInterfaceState.xcuserstate

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/xcuserdata/lin.xcuserdatad/xcschemes/FlatWorldIIV1.0ClassVersion_dist2014.xcscheme

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/FlatWorldIIV1.0ClassVersion_dist2014.xcodeproj/project.xcworkspace/xcuserdata/lin.xcuserdatad/UserInterfaceState.xcuserstate

Docs/FinalPaper.pages

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/a.out

*.o

NeuralNetworksProjectFolder/FlatWorldIIV1.0ClassVersion_dist2014/dat/timevsspeed.csv
